@font-face {
    font-family: 'Anodina';
    src: url('./anodina/Anodina-ExtraLight.woff2') format('woff2'),
        url('./anodina/Anodina-ExtraLight.woff') format('woff'),
        url('./anodina/Anodina-ExtraLight.eot') format('eot');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Anodina';
    src: url('./anodina/Anodina-Light.woff2') format('woff2'),
        url('./anodina/Anodina-Light.woff') format('woff'),
        url('./anodina/Anodina-Light.eot') format('eot');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Anodina';
    src: url('./anodina/Anodina-Regular.woff2') format('woff2'),
        url('./anodina/Anodina-Regular.woff') format('woff'),
        url('./anodina/Anodina-Regular.eot') format('eot');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Anodina';
    src: url('./anodina/Anodina-Bold.woff2') format('woff2'),
        url('./anodina/Anodina-Bold.woff') format('woff'),
        url('./anodina/Anodina-Bold.eot') format('eot');
    font-weight: 700;
    font-style: normal;
}
