<template>
  <section class="section section--features">
    <div class="container">
      <Heading level="h3" align="center">Marvel Characters</Heading>
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4 text-center">
            <FeatureCard
              image="https://cdn4.iconfinder.com/data/icons/famous-characters-add-on-vol-1-flat/48/Famous_Character_-_Add_On_1-24-512.png"
              heading="Wolverine"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non semper dolor.
            </FeatureCard>
          </div>
          <div class="col-12 col-md-6 col-lg-4 text-center">
            <FeatureCard
              image="https://cdn4.iconfinder.com/data/icons/famous-characters-add-on-vol-1-flat/48/Famous_Character_-_Add_On_1-22-512.png"
              heading="Batman"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non semper dolor.
            </FeatureCard>
          </div>
          <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-0 text-center">
            <FeatureCard
              image="https://cdn4.iconfinder.com/data/icons/famous-characters-add-on-vol-1-flat/48/Famous_Character_-_Add_On_1-15-512.png"
              heading="Deadpool"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non semper dolor.
            </FeatureCard>
          </div>
          <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-0 text-center">
            <FeatureCard
              image="https://cdn4.iconfinder.com/data/icons/famous-characters-add-on-vol-1-flat/48/Famous_Character_-_Add_On_1-09-512.png"
              heading="Captain America"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non semper dolor.
            </FeatureCard>
          </div>
        </div>
      </div>
      <slot name="footer"></slot>
    </div>
  </section>
</template>

<script>
/**
 * Multicolumn layout of FeatureCard elements instances.
 */
export default {
  name: "FeatureSection",
  status: "ready",
  release: "1.0.0",
}
</script>

<style lang="scss" scoped>
.row {
  display: flex;
}
</style>

<docs>
  ```jsx
  <div>
    <FeatureSection />
  </div>
  ```
</docs>
