<template>
  <component :is="type" :href="href" :type="submit" :class="['button', size, state, variation]">
    <slot />
  </component>
</template>

<script>
/**
 * Buttons are generally used for interface actions. Suitable for all-purpose use.
 * Defaults to appearance that has white text on colored background, without border.
 * Primary style should be used only once per view for main call-to-action.
 */
export default {
  name: "Button",
  status: "prototype",
  release: "1.0.0",
  props: {
    /**
     * The html element used for the button.
     * `button, a`
     */
    type: {
      type: String,
      default: "button",
      validator: value => {
        return value.match(/(button|a)/)
      },
    },
    /**
     * The size of the button. Defaults to medium.
     * `small, medium, large`
     */
    size: {
      type: String,
      default: "medium",
      validator: value => {
        return value.match(/(small|medium|large)/)
      },
    },
    /**
     * When setting the button’s type to a link, use this option to give a href.
     */
    href: {
      type: String,
      default: null,
    },
    /**
     * Set the button’s type to “submit”.
     */
    submit: {
      type: String,
      default: null,
      validator: value => {
        return value.match(/(null|submit)/)
      },
    },
    /**
     * Manually trigger various states of the button.
     * `hover, active, focus`
     */
    state: {
      type: String,
      default: null,
      validator: value => {
        return value.match(/(hover|active|focus)/)
      },
    },
    /**
     * Style variation to give additional meaning.
     * `primary, secondary`
     */
    variation: {
      type: String,
      default: null,
      validator: value => {
        return value.match(/(primary|secondary|ghost)/)
      },
    },
  },
}
</script>

<style lang="scss" scoped>
.button {
  @include reset;
  @include stack-space($space-m);
  @include inline-space($space-xs);

  font-weight: $weight-semi-bold;
  font-size: $size-m;
  font-family: $font-heading;
  line-height: $line-height-m;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: $radius-default;
  background: $color-gunpowder;
  color: $color-white;
  text-transform: uppercase;
  transition: 0.3s all;
  cursor: pointer;

  &:hover,
  &.hover {
    background: $color-gunpowder-dark;
  }
  &:active,
  &.active {
    background: $color-gunpowder-dark;
  }

  &:focus,
  &.focus {
    background: $color-gunpowder-darker;
    outline: 0;
  }

  // For icons inside buttons
  .icon {
    float: right;
    margin: -#{$space-xs} -#{$space-xs} -#{$space-s} $space-xs/2;
    color: $color-emerald;
  }

  // Various button sizes
  &.large {
    @include inset-squish-space($space-s);
    font-size: $size-l;
  }
  &.medium {
    @include inset-squish-space($space-s);
    font-size: $size-m;
  }
  &.small {
    @include inset-squish-space($space-xs);
    font-size: $size-s;
  }

  // Primary button
  &.primary {
    background: $color-emerald;
    color: $color-white;
    &:hover,
    &.hover {
      background-color: shade($color-emerald, 12%);
    }
    &:active,
    &.active {
      background-color: shade($color-emerald, 20%);
    }
    &:focus {
      background-color: darken($color-emerald, 10%);
    }
  }

  // Light button
  &.ghost {
    background: $color-gray-lightest;
    color: $color-gunpowder-darker;
    &:hover,
    &.hover {
      background-color: lighten($color-gray-lighter, 10%);
    }
    &:active,
    &.active {
      background-color: lighten($color-gray-lighter, 10%);
    }
    &:focus {
      background-color: lighten($color-gray-lighter, 5%);
    }
  }
}
</style>

<docs>
  ```jsx
  <div>
    <Button>Default Button</Button>
    <Button variation="primary">Primary Button</Button>
    <Button variation="ghost">Ghost Button</Button>
    <br />
    <Button variation="primary" size="large">Large Button</Button>
    <Button variation="primary" size="medium">Medium Button</Button>
    <Button variation="primary" size="small">Small Button</Button>
    <br />
    <Button>Button</Button>
    <Button state="hover">Button:hover</Button>
    <Button state="active">Button:active</Button>
    <Button state="focus">Button:focus</Button>
  </div>
  ```
</docs>
