<template>
  <i class="checkbox" :class="{ checked }" @click="toggle"></i>
</template>

<script>
/**
 * Checkbox represent a single boolean state.
 */
export default {
  name: "Checkbox",
  status: "ready",
  release: "1.0.0",
  props: {
    /**
     * Indicates current checkbox state.
     */
    checked: {
      type: Boolean,
      required: true,
      default: false,
    },
  },
  methods: {
    toggle() {
      this.$emit("toggle")
    },
  },
}
</script>

<style lang="scss" scoped>
.checkbox {
  @include reset;

  display: inline-block;
  position: relative;
  width: $size-m;
  height: $size-m;
  border-radius: $radius-inputs;
  margin-right: $space-xxs;
  background: #fff;
  border: 1px solid $color-gray-lighter;

  &:hover {
    border-color: $color-gray-light;
    cursor: pointer;
  }

  &.checked {
    background: $color-emerald;
    border-color: $color-emerald;

    &:before,
    &:after {
      content: "";
      display: block;
      height: 2px;
      background: $color-white;
      position: absolute;
    }

    &:before {
      width: 5px;
      transform: rotate(45deg);
      top: 7px;
      left: 1px;
      border-radius: 3px 0 0 3px;
    }

    &:after {
      width: 10px;
      transform: rotate(-45deg);
      top: 6px;
      left: 3px;
      border-radius: 0 3px 3px 0;
    }
  }
}
</style>

<docs>
  ```jsx
  <div>
    <Checkbox :checked="false" />
    <Checkbox :checked="true" />
  </div>
  ```
</docs>
