<template>
  <component :is="level" class="heading" :class="[align, { separator: separator }]">
    <slot />
  </component>
</template>

<script>
/**
 * Headings are used as the titles of each major section of a page in the
 * interface. For example, templates generally use headings as their title.
 * Heading element provides an option to change the level of the heading.
 * There is also an optional subtle separator below the heading.
 */
export default {
  name: "Heading",
  status: "prototype",
  release: "1.0.0",
  props: {
    /**
     * The heading level used for the heading.
     * `h1, h2, h3, h4, h5, h6`
     */
    level: {
      type: String,
      default: "h1",
      validator: value => {
        return value.match(/(h1|h2|h3|h4|h5|h6)/)
      },
    },
    /**
     * Sets aligment of the heading contents.
     * `left, center, right`
     */
    align: {
      type: String,
      default: "left",
      validator: value => {
        return value.match(/(left|center|right)/)
      },
    },
    /**
     * Whether a subtle separator should be rendered below the heading.
     * `true, false`
     */
    separator: {
      type: Boolean,
      default: false,
    },
  },
}
</script>

<style lang="scss" scoped>
.heading {
  @include reset;
  @include stack-space($space-m);

  font-family: $font-heading;
  line-height: $line-height-s;
  color: $color-gunpowder;
  text-transform: uppercase;

  @media #{$media-query-l} {
    // This is how you’d use design tokens with media queries
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }

  &.separator {
    position: relative;
    margin-bottom: $space-l;

    &::after {
      background: $color-emerald;
      content: "";
      width: 14px;
      height: 4px;
      position: absolute;
      top: 100%;
      margin-top: calc(#{$space-s} + 4px);
      left: 0;
    }

    &.center {
      &::after {
        left: 50%;
        transform: translateX(-50%);
        transform-origin: center;
      }
    }
  }
}

h1 {
  letter-spacing: $spacing-xs;
  font-size: $size-xxl;
  font-weight: $weight-semi-bold;
  @media #{$media-query-l} {
    font-size: $size-xxxl;
  }
}
h2 {
  letter-spacing: $spacing-s;
  font-size: $size-xxl;
  font-weight: $weight-semi-bold;
}
h3 {
  font-size: $size-xl;
  font-weight: $weight-semi-bold;
}
h4 {
  font-size: $size-l;
  font-weight: $weight-semi-bold;
}
h5 {
  font-size: $size-m;
  font-weight: $weight-normal;
}
h6 {
  font-size: $size-s;
  font-weight: $weight-normal;
}
</style>

<docs>
  ```jsx
  <div>
    <Heading>Heading 1</Heading>
    <Heading level="h2">Heading 2</Heading>
    <Heading level="h3">Heading 3</Heading>
    <Heading level="h4">Heading 4</Heading>
    <Heading level="h5">Heading 5</Heading>
    <Heading level="h6">Heading 6</Heading>
    <br />
    <Heading level="h3">Left-aligned heading 3</Heading>
    <Heading level="h3" align="center">Centered heading 3</Heading>
    <Heading level="h3" align="right">Right-aligned heading 3</Heading>
    <br />
    <Heading level="h2" align="center" :separator="true">Centered heading 2 with separator</Heading>
  </div>
  ```
</docs>
