<template>
  <component
    :is="wrapper"
    :class="[
      'input',
      { 'input-expand': width === 'expand', 'no-label-on-desktop': noLabelOnDesktop },
    ]"
  >
    <label :for="id" v-if="label">{{ label }}</label>
    <input
      :id="id"
      :name="name"
      :disabled="disabled"
      :type="type"
      :value="value"
      :class="state"
      :placeholder="placeholder"
      :minlength="minlength"
      :maxlength="maxlength"
      :required="required"
      @input="onInput($event.target.value)"
      @focus="onFocus($event.target.value)"
    />
  </component>
</template>

<script>
/**
 * Form Inputs are used to allow users to provide text input when the expected
 * input is short. Form Input has a range of options and supports several text
 * formats including numbers. For longer input, use the form `Textarea` element.
 */
export default {
  name: "Input",
  status: "ready",
  release: "1.0.0",
  props: {
    /**
     * The type of the form input field.
     * `text, number, email`
     */
    type: {
      type: String,
      default: "text",
      validator: value => {
        return value.match(/(text|number|email)/)
      },
    },
    /**
     * Text value of the form input field.
     */
    value: {
      type: String,
      default: null,
    },
    /**
     * The placeholder value for the form input field.
     */
    placeholder: {
      type: String,
      default: null,
    },
    /**
     * The label of the form input field.
     */
    label: {
      type: String,
      default: null,
    },
    /**
     * The html element name used for the wrapper.
     * `div, section`
     */
    wrapper: {
      type: String,
      default: "div",
      validator: value => {
        return value.match(/(div|section)/)
      },
    },
    /**
     * Unique selector of the form input field.
     */
    id: {
      type: String,
      default: null,
    },
    /**
     * Unique name of the form input field.
     */
    name: {
      type: String,
      required: true,
    },
    /**
     * The width of the form input field.
     * `auto, expand`
     */
    width: {
      type: String,
      default: "expand",
      validator: value => {
        return value.match(/(auto|expand)/)
      },
    },
    /**
     * Whether the form input field is disabled or not.
     * `true, false`
     */
    disabled: {
      type: Boolean,
      default: false,
    },
    /**
     * Manually trigger various states of the input.
     * `hover, active, focus`
     */
    state: {
      type: String,
      default: null,
      validator: value => {
        return value.match(/(hover|active|focus)/)
      },
    },
    /**
     * Determines if field value must be provided for
     * the form to be submitted.
     */
    required: {
      type: Boolean,
      default: false,
    },
    /**
     * Minimal characters length of field value.
     */
    minlength: {
      type: Number,
      default: null,
    },
    /**
     * Maximal characters length of field value.
     */
    maxlength: {
      type: Number,
      default: null,
    },
    /**
     * If true, label will not be rendered on desktop.
     */
    noLabelOnDesktop: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    onInput(value) {
      this.$emit("change", value)
    },
    onFocus(value) {
      this.$emit("focus", value)
    },
  },
}
</script>

<style lang="scss" scoped>
// Design Tokens with local scope
$color-placeholder: $color-gray-lighter;

.input {
  @include stack-space($space-s);
  font-weight: $weight-normal;
  font-family: $font-text;
  font-size: $size-m;
  line-height: $line-height-xs;
  width: auto;
  &-expand {
    width: 100%;
  }
  label {
    cursor: pointer;
    display: block;
    font-size: $size-xs;
    color: $color-gunpowder-lighter;
    @include stack-space($space-xs);
  }
  @media #{$media-query-l} {
    &.no-label-on-desktop {
      label {
        display: none;
      }
    }
  }
  input {
    @include reset;
    @include inset-squish-space($space-s);
    transition: all 0.2s ease;
    -webkit-appearance: none;
    appearance: none;
    font-size: $size-s;
    font-family: $font-text;
    background: $color-white;
    border-radius: $radius-inputs;
    color: $color-gray;
    width: 100%;
    margin: 0;
    padding: $space-s $space-xs;
    border: 1px solid $color-gray-lighter;

    &::-webkit-input-placeholder {
      -webkit-font-smoothing: antialiased;
      color: $color-placeholder;
    }
    &:-ms-input-placeholder {
      color: $color-placeholder;
    }
    &::-moz-placeholder {
      color: $color-placeholder;
      -moz-osx-font-smoothing: grayscale;
      opacity: 1;
    }
    &:hover,
    &.hover {
      border-color: $color-gray-light;
    }
    &:focus,
    &.focus {
      border-color: $color-gray;
      outline: 0;
    }
    &[disabled] {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      border-color: $color-gray-lighter;
      color: $color-gray-lighter;
      cursor: not-allowed;
      opacity: 0.7;
    }
  }
}
</style>

<docs>
  ```jsx
  <div>
    <Input label="Default input" placeholder="Write your text" id="input-1" name="input_1" />
    <Input label=":hover" state="hover" placeholder="Write your text" id="input-2" name="input_2" />
    <Input label=":focus" state="focus" placeholder="Write your text" id="input-3" name="input_3" />
    <Input label="[disabled]" disabled value="Write your text" id="input-4" name="input_4" />
  </div>
  ```
</docs>
