<template>
  <span class="toggle" :class="{ 'toggle--active': enabled }"> <slot /> </span>
</template>

<script>
/**
 * Toggles are useful to represent a binary state. They can be used in many
 * various contexts and components as controls for flag state manipulation.
 */
export default {
  name: "Toggle",
  status: "ready",
  release: "1.0.0",
  props: {
    /**
     * Indicates current toggle state.
     */
    enabled: {
      type: Boolean,
      required: true,
      default: false,
    },
  },
  methods: {
    toggle() {
      this.$emit("toggle")
    },
  },
}
</script>

<style lang="scss" scoped>
.toggle {
  display: inline-block;
  font-family: $font-text;
  font-size: $size-s;
  background: $color-white;
  color: $color-gray;
  text-align: center;
  border-radius: $radius-default;
  padding: $space-xs $space-s;
  text-transform: uppercase;
  transition: 0.3s all;

  &:hover {
    background: $color-gray-lighter;
    cursor: pointer;
  }

  &--active {
    background: $color-gray;
    color: $color-white;

    &:hover {
      background: $color-gray;
    }
  }
}
</style>

<docs>
  ```jsx
  <div>
    <Toggle :enabled="true">Option 1</Toggle>
    <Toggle :enabled="false">Option 2</Toggle>
    <Toggle :enabled="false">Option 3</Toggle>
  </div>
  ```
</docs>
