<template>
  <div class="checkbox-input">
    <label>
      <span class="checker">
        <input type="checkbox" :name="name" :required="required" :checked="value" />
        <Checkbox :checked="value" />
      </span>
      <Paragraph type="span" variation="small"> <slot /> </Paragraph>
    </label>
  </div>
</template>

<script>
/**
 * Form Inputs are used to allow users to provide text input when the expected
 * input is short. Form Input has a range of options and supports several text
 * formats including numbers. For longer input, use the form `Textarea` element.
 */
export default {
  name: "CheckboxInput",
  status: "prototype",
  release: "1.0.0",
  props: {
    /**
     * Unique identifier of the form input field.
     */
    id: {
      type: String,
      default: null,
    },
    /**
     * Form control value/state.
     * `true, false`
     */
    value: {
      type: Boolean,
      required: false,
      default: false,
    },
    /**
     * Determines if checking the field is required
     * to submit the form.
     * `true, false`
     */
    required: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  methods: {
    update(value) {
      this.$emit("update", value)
    },
  },
}
</script>

<style lang="scss" scoped>
.checkbox-input {
  @include stack-space($space-s);
  font-weight: $weight-normal;
  font-family: $font-text;
  font-size: $size-m;
  line-height: $line-height-xs;
  width: auto;

  label {
    &:hover {
      cursor: pointer;
    }
  }

  .checker {
    position: relative;
    top: 3px;

    input {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
    }
  }
}
</style>

<docs>
  ```jsx
  <div>
    <CheckboxInput value="true">
      I agree to donate one of my kidneys.
    </CheckboxInput>
    <CheckboxInput>
      Klikając "Dołącz", akceptujesz <a href="/regulamin">Regulamin</a> oraz
      potwierdzasz, że znasz treść naszej <a href="/polityka-prywatnosci">Polityki prywatności</a>.
    </CheckboxInput>
  </div>
  ```
</docs>
