<template>
  <div class="feature-card">
    <div class="feature-card__image"><img v-if="image" :src="image" /></div>
    <Heading level="h4" align="center" v-if="heading">{{ heading }}</Heading>
    <Paragraph><slot /></Paragraph>
  </div>
</template>

<script>
/**
 * Feature card is used to present some key value of a product
 * or feature as a composite element. Best to be used in multicolumn
 * layout.
 */
export default {
  name: "FeatureCard",
  status: "ready",
  release: "1.0.0",
  props: {
    /**
     * Path to feature image.
     */
    image: {
      type: String,
      default: null,
    },
    /**
     * Heading text content.
     */
    heading: {
      type: String,
      default: null,
    },
  },
}
</script>

<style lang="scss" scoped>
.feature-card {
  @include reset;
  @include stack-space($space-m);

  text-align: center;
  padding: 0 30px;

  &__image {
    img {
      height: 100px;
    }
  }

  h4 {
    margin-top: 35px;
    margin-bottom: 26px;
  }

  p {
    height: 120px;
  }
}
</style>

<docs>
  ```jsx
  <div style="display: flex; justify-content: center;">
    <FeatureCard image="https://freeiconshop.com/wp-content/uploads/edd/bulb-curvy-flat.png" heading="Lorem Ipsum">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non semper dolor.
    </FeatureCard>
    <FeatureCard image="https://freeiconshop.com/wp-content/uploads/edd/wrench-flat.png" heading="Lorem Ipsum">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non semper dolor.
    </FeatureCard>
    <FeatureCard image="https://freeiconshop.com/wp-content/uploads/edd/heart-curvy-flat.png" heading="Lorem Ipsum">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non semper dolor.
    </FeatureCard>
  </div>
  ```
</docs>
