<template>
  <div
    ref="picker"
    class="picker"
    :class="{ 'picker--open': open }"
    @blur="alert('picker blurred')"
    v-closable="{ exclude: ['picker'], handler: 'onBlur' }"
  >
    <div class="picker__selection" @click="openPicker">
      <span class="picker__selection__greeter" v-if="!value.length" v-text="greeter"></span>
      <span
        class="picker__selection__item"
        v-for="(option, index) in displayValue"
        :key="index"
        v-text="option.label"
      ></span>
      <span
        class="picker__selection__item picker__selection__item--disabled"
        v-if="value.length > 3"
        >+ {{ value.length - 3 }} więcej</span
      >
    </div>
    <ul class="picker__options">
      <li v-for="(option, index) in options" :key="index" @click="toggleOption(option)">
        <Checkbox :checked="value.indexOf(option) !== -1"></Checkbox>
        {{ option.label }}
      </li>
    </ul>
  </div>
</template>

<script>
let handleBlurAction;  // used for v-closeable directive

/**
 * Picker is generally a selection form control allowing for either single or multiple
 * values selection. Actual values might differ from their labels.
 */
export default {
  name: "Picker",
  status: "prototype",
  release: "1.0.0",
  props: {
    /**
     * Short phrase displayed on a picker when
     * no celection is made.
     */
    greeter: {
      type: String,
      required: false,
      default: "Wybierz...",
    },
    /**
     * The html element used for the button.
     * `[{value: 1, label: 'Option One'}, {value: 2, label: 'Option Two'}]`
     */
    options: {
      type: Array,
      required: true,
      default: [],
    },
  },
  data() {
    return {
      open: false,
      value: [],
    }
  },
  methods: {
    toggleVisibility() {
      this.open = !this.open
    },
    openPicker() {
      this.open = true
    },
    closePicker() {
      this.open = false
    },
    onBlur() {
      this.closePicker()
    },
    toggleOption(option) {
      const itemIndex = this.value.indexOf(option)
      if (itemIndex !== -1) {
        this.value.splice(itemIndex, 1)
      } else {
        this.value.push(option)
      }
      this.$emit("update", this.value.map(item => item.value))
    },
  },
  computed: {
    displayValue() {
      return this.value.filter((item, index) => index < 3)
    },
  },
  directives: {   
    closable: {
      bind(el, binding, vnode) {
        handleBlurAction = e => {
          e.stopPropagation()
          const { handler, exclude } = binding.value
          let clickedOnExcludedEl = false
          exclude.forEach(refName => {
            if (!clickedOnExcludedEl) {
              const excludedEl = vnode.context.$refs[refName]
              clickedOnExcludedEl = excludedEl.contains(e.target)
            }
          })
          if (!el.contains(e.target) && !clickedOnExcludedEl) {
            vnode.context[handler]()
          }
        }
        document.addEventListener("click", handleBlurAction)
        document.addEventListener("touchstart", handleBlurAction)
      },
      unbind() {
        document.removeEventListener("click", handleBlurAction)
        document.removeEventListener("touchstart", handleBlurAction)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.picker {
  @include reset;
  @include stack-space($space-m);
  @include inline-space($space-xs);

  position: relative;
  font-family: $font-text;

  label {
    cursor: pointer;
    display: block;
    font-size: $size-xs;
    color: $color-gunpowder-lighter;
    @include stack-space($space-xs);
  }

  &__selection {
    position: relative;
    background: $color-white;
    margin: 0;
    padding: $space-s $space-xs;
    border: 1px solid $color-gray-lighter;
    border-radius: $radius-inputs;
    font-size: $size-s;
    transition: all 0.3s ease;
    color: $color-gray;

    &__item {
      @include inline-space($space-xs);

      font-size: $size-s;
      background: $color-gray-light;
      color: $color-white;
      border-radius: $radius-default;
      padding: $space-xs;
      transition: background 0.3s;
      cursor: pointer;

      &--disabled {
        opacity: 0.5;
      }
    }

    &:after {
      content: "";
      position: absolute;
      right: $space-s;
      top: 50%;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid $color-gray-lighter;
      margin-top: -3px;
      transform-origin: center;
      transition: transform 0.3s;
    }
  }

  &__options {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    border-radius: 0 0 5px 5px;
    border: 1px solid $color-gray-light;
    border-top: 0 none;
    height: 10rem;
    background: $color-white;
    overflow-y: scroll;
    position: absolute;
    z-index: $z-index-sticky;
    transition: border-color 0.3s;
    left: 0;
    right: 0;

    & > li {
      display: flex;
      padding: 0.5rem;
      align-items: center;
      transition: all 0.3s ease;
      font-size: $size-s;
      color: $color-gray-light;

      &:hover {
        cursor: pointer;
        background: $color-gray-lighter;
      }
    }
  }

  &:hover {
    cursor: pointer;
  }

  &:hover &__selection {
    border-color: $color-gray-light;
  }

  &--open {
    &__options {
      display: block;
    }

    &:hover {
      cursor: unset;
    }
  }

  &--open &__selection {
    border-color: $color-gray;
    border-bottom: 1px solid $color-gray;
    border-radius: $radius-inputs $radius-inputs 0 0;

    &:after {
      transform: rotate(180deg);
    }
  }

  &--open &__options {
    display: block;
  }
}
</style>

<docs>
  ```jsx
  <div>
    <Picker :options="[
        {value: 1, label: 'Joey Tribbiani'},
        {value: 2, label: 'Chandler Bing'},
        {value: 3, label: 'Ross Geller'},
        {value: 4, label: 'Monica Geller'},
        {value: 5, label: 'Rachel Greene'},
        {value: 6, label: 'Phoebe Buffay'}
    ]"></Picker>
  </div>
  ```
</docs>
